.feed {
    width: 45%;
    height: 150vh;
    background-color: #f6f8f9;
    border-right: 1px solid #f3f3f3;
    border-left: 1px solid #f3f3f3;
}
.tweets_list {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 3rem;
    border-bottom: 1px solid #f3f3f3;
    background-color: white;
    font-size: 1.2rem;
    font-weight: 600;
}
.logo {
    height: 1.5rem;
    width: 1.5rem;
}
.topbar a {
    color: black;
    text-decoration: none;
}
@media (min-width: 700px) and (max-width: 1000px) {
    .feed {
        width: 59%;
    }
}
@media (min-width: 600px) and (max-width: 700px) {
    .feed {
        width: 90%;
    }
}
@media (max-width: 600px) {
    .feed {
        width: 100%;
    }
    .tweets_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}