.bold {
    font-weight: bold;
}
.gray {
    color: gray;
    font-size: 0.95rem;
}
@media (min-width: 700px) and (max-width: 850px) {
    .bold {
        font-size: 15px;
    }
    .gray {
        font-size: 13px;
    }
}