.reply {
    display: flex;
    justify-content: center;
}
.text {
    width: 70%;
    padding: 15px 5px;
    background-color: #ebeef0;
    color: gray;
    border: none;
}
.button {
    background-color: #248cfa;
    color: white;
    border: none;
    padding: 5px 10px;
} 
.text:focus {
    border: none;
    outline: none;
}