.sidebar {
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar_area {
    width: 70%;
    height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.search {
    width: 90%;
    padding: 1rem;
    background-color: #ebeef0;
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.floating_panel {
    width: 90%;
    background-color: #f7f9fa;
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 1rem 0;
}
.trend_item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 3rem;
    padding: 0.5rem;
    margin: 0.1rem 0;
    font-size: 1.1rem;
    cursor: pointer;
}
.trend {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 5px;
}
.tweets {
    color: gray;
    font-size: 0.9rem;
}
.header {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.8rem 0.5rem;
    border-bottom: 1px solid lightgray;
}
.suggestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0.5rem 0;
}
.suggestion_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.button {
    background: transparent;
    border: 1px solid #248cfa;
    border-radius: 10rem;
    padding: 0.5rem;
    color: #248cfa;
    cursor: pointer;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    margin-right: 1rem;
}
.about {
    display: flex;
    justify-content: space-between;
}
@media (min-width: 1000px) and (max-width: 1200px) {
    .sidebar_area {
        width: 85%;
    }
    .suggestion {
        width: 100%;
    }
}
@media (min-width: 850px) and (max-width: 1000px) {
    .sidebar_area {
        width: 90%;
    }
    .suggestion {
        width: 100%;
    }
}
@media (min-width: 700px) and (max-width: 850px) {
    .suggestion {
        width: 100%;
    }
    .image {
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 3px;
    }
    .sidebar_area {
        width: 90%;
    }
    .sidebar {
        align-items: flex-start;
    }
    .trend_item {
        height: 2.5rem;
    }
}
@media (min-width: 600px) and (max-width: 700px) {
    .sidebar {
        display: none;
    }
}
@media (max-width: 600px) {
    .sidebar {
        display: none;
    }
}